.container0 {
    position:relative;
    width:100%;
    height:600px;
    margin:10px auto 0;
}
.container0 .box {
    position:relative;
    width:calc(220px - 60px);
    height:calc(180px - 30px);
    background:#000;
    float:left;
    margin:15px;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(0,0,0,.8);
}
.container0 .box:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleX(0);
    opacity:0;
}
.container0 .box:hover:before {
    transform:scaleX(1);
    opacity:1;
}
.container0 .box:after {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleY(0);
    opacity:0;
}
.container0 .box:hover:after {
    transform:scaleY(1);
    opacity:1;
}
.container0 .box .imgBox {
    position:relative;
}
.container0 .box .imgBox img {
    width:100%;
    transition:0.5s;
}
.container0 .box:hover .imgBox img {
    opacity:.2;
    transform:scale(1.2);
}
.container0 .box .content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
.container0 .box .content h2 {
    margin: 0 0 10px;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;
}
.container0 .box .content p {
    width: 100%;
    margin:0;
    padding:0;
    color:#fff;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
}
.container0 .box:hover .content h2,
.container0 .box:hover .content P {
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}