* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	width: 90%;
	margin: 20px auto;
	border: 2px solid;
	border-radius: 50px 20px;
  }


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
}


.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

/*Names Footer */
.names{
	overflow: hidden;
}
.names .left{
	margin-left: 20%;
	float: left;
}

.names .right{
	margin-right: 20%;
	float: right;
}


.Arrows #up,
.Arrows #left,
.Arrows #right,
.Arrows #down,
.Arrows #stop{
    background: rgb(229, 229, 186 );
  
}
.Arrows{
    margin-top: 0px;
}
@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "contenido contenid contenido"
						 "footer footer footer";
	}
    .names{
		align-items: center;
		}
		.names .left{
			float: none;
			margin-left: 0%;
			margin:0px;
			padding:20px;
		}
		.names .right{
		 margin-right: 30%;
		float: right;
		}
}

.arrow-up {
	border: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background:  url("https://image.flaticon.com/icons/png/512/51/51544.png");
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 100000;
	visibility: hidden;
	opacity: 1;
}

.arrow-up.is-opacity {
	opacity: 1;
  visibility: visible;
}