* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #e9ecf4;
    color: #000;
    font-family: "Roboto", sans-serif;
  }
  
  .table thead tr th {
      text-align: center;  
  }
  .table tbody tr th {
      text-align: center;  
  }
  
  .table tbody tr td {
      text-align: center;  
  }

  .table-hover:hover{
    background-color: gainsboro;
  }
  
  .navbar {
    width: 90%;
    margin: 20px auto;
    border: 2px solid;
    border-radius: 50px 20px;
  }
  
  .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header "
						 "contenido contenido "
						 "widget-1 widget-2 "
						 "footer footer ";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
    /*background: #12203E;*/
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

.names{
	overflow: hidden;
}
.names .left{
	margin-left: 20%;
	float: left;
}

.names .right{
	margin-right: 20%;
	float: right;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header "
						 "contenido contenido "
						 "sidebar sidebar "
						 "widget-1 widget-2"
						 "footer footer ";
	}
	.names{
	align-items: center;
    }
	.names .left{
	    float: none;
	    margin-left: 0%;
	    margin:0px;
	    padding:20px;
	}
	.names .right{
	 margin-right: 30%;
	float: right;
	}
}

.arrow-up {
	border: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background:  url("https://image.flaticon.com/icons/png/512/51/51544.png");
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 100000;
	visibility: hidden;
	opacity: 1;
}

.arrow-up.is-opacity {
	opacity: 1;
  visibility: visible;
}
    

