
  .Arrows li{
   position: absolute;
    border:2px solid #2980B9;
    list-style:none;
    border-radius:50px;
    display:flex;
  }
  .Arrows #right, #up, #left, #down{
    align-self:center;
  }
  .Arrows #right{
    flex-direction:row;
    padding: 80px 60px 80px 10px;
  }
  .Arrows #up{
    flex-direction:column-reverse;
    padding: 60px 80px 0px 80px;
  }
  .Arrows #left{
    flex-direction:row-reverse;
    padding: 80px 10px 80px 60px;
  }
  .Arrows  #down{
    flex-direction:column;
    padding: 0px 80px 60px 80px;
  }
  .Arrows  .reh{
    width:50px;
    height:50px;
    position:relative;
    box-shadow: 15px -15px #3498DB;
    transform: rotate(45deg);
    border-radius:5px;
  }
  .Arrows  .meh{
    width:50px;
    height:50px;
    position:relative;
    box-shadow: -15px -15px #3498DB;
    transform: rotate(45deg);
    border-radius:5px;
  }
  
  .Arrows  .leh{
    width:50px;
    height:50px;
    position:relative;
    box-shadow: -15px 15px #3498DB;
    transform: rotate(45deg);
    border-radius:5px;
  }
  .Arrows  .deh{
    width:50px;
    height:50px;
    position:relative;
    box-shadow: 15px 15px #3498DB;
    transform: rotate(45deg);
    border-radius:5px;
  }
  .Arrows .m1 {
    animation: ani3 1.0s steps(5, start) infinite;
    -webkit-animation: ani3 1.0s steps(5, start) infinite;
  }
  .Arrows  .m2 {
    animation: ani2 1.0s steps(5, start) infinite;
    -webkit-animation: ani2 1.0s steps(5, start) infinite;
  }
  .Arrows  .m3 {
    animation: ani1 1.0s steps(5, start) infinite;
    -webkit-animation: ani1 1.0s steps(5, start) infinite;
  }
  @keyframes ani1 {
     0% {opacity:0.1;}
    11% {opacity:0.1;}
    22% {opacity:0.1;}
    33% {opacity:0.15;}
    44% {opacity:0.25;}
    55% {opacity:0.5;}
    66% {opacity:1;}
    77% {opacity:0.5;}
    88% {opacity:0.25;}
    100% {opacity:0.15;}
  }
  @keyframes ani2 {
     0% {opacity:0.1;}
    11% {opacity:0.15;}
    22% {opacity:0.25;}
    33% {opacity:0.5;}
    44% {opacity:1;}
    55% {opacity:0.5;}
    66% {opacity:0.25;}
    77% {opacity:0.15;}
    88% {opacity:0.1;}
    100% {opacity:0.1;}
  }
  @keyframes ani3 {
     0% {opacity:0.25;}
    11% {opacity:0.5;}
    22% {opacity:1;}
    33% {opacity:0.5;}
    44% {opacity:0.25;}
    55% {opacity:0.15;}
    66% {opacity:0.1;}
    77% {opacity:0.1;}
    88% {opacity:0.1;}
    100% {opacity:0.15;}
  }


.Arrows  {
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px;
}

.item1 {
    margin: 20px 20px 20px 60px;
    width: 90%;
    height: 100px;
    grid-column: 1 /span 3;
    
    border:2px solid #2980B9;
  border-radius:50px;
  }
