@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	width: 90%;
	margin: 20px auto;
	border: 2px solid;
	border-radius: 50px 20px;
  }

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	margin: 20px auto;
	grid-area: contenido;
}

.contenedor .sidebar {
	
	grid-column: 3 / 4;
	background: #ebf8ef4b;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}


/*Names Footer */
.names{
	overflow: hidden;
}
.names .left{
	margin-left: 20%;
	float: left;
}

.names .right{
	margin-right: 20%;
	float: right;
}

.section-side{

	
	background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(235,225,6,0.5) 35%, rgba(94,219,220,0.5) 98%);
	width: 90%;
	height: 100%;
	box-shadow: 5px 5px 8px #cecece, -5px -5px 8px #f2f2f2;
	border-radius: 20px;
	padding: 4px;
  }

.galerie {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(1, 1fr);
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  .photos {
	box-shadow: 1px -1px 30px 0px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin: 20px auto;
	width: 200px;
	height: 150px;
	flex-shrink:0;
  }
  
  .photos img:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 400ms;
	opacity: 0.9;
  }
  .photos img{
	  width: 100%;
	  height: 100%;
	  background-size: cover;
  }
 
 
  .montaje h1{
	font-family: 'Ubuntu', sans-serif;
	  background-color:#3C8DAD ;
	  border-radius: 50px 50px;
	  color: #DDDDDD;
  }
  .montaje h1:hover{
	color: white;
  }
  .montaje img{
	width: 50%;
	}

	.montaje p{
		width: 50%;
		margin: 20px auto;
		background-color: rgb(153, 115, 115);
		margin-top: 5px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1.5rem;
		border: 2px solid;
		border-radius: 20px 20px;
		color: white;
	}



#container{
	margin-top: 20px;
    text-align: center;
    width: 500px;
    background-color: #707070;;
    box-shadow: 3px 3px 10px #000;
    overflow: hidden;
}

#container img{
    width:100%;
}


#container{
    text-align: center;
    width: 500px;
    background-color: #707070;;
    box-shadow: 3px 3px 10px #000;
    overflow: hidden;
}

#container img{
    width:100%;
}

.ContenedorMateriales{
	width: 100%;
	height: auto;
	margin: 20px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);

}


.contenedor-img img{
	width: 80%;
	height: 80%;
}

.contenedor-img{
	
    position: relative;
    display: grid;
    text-align: center;
}

.centrado{
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -80%);
	opacity: 0;
  	
}
.centrado:hover{
	border: 5px solid #1C6EA4;
	font-size: 16px;
	color: white;
	background-color: rgba(0, 0, 0, 0.719);
	opacity: 1;

}



@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
	#container{
		width: 300px;
	}
	
	.names{
		align-items: center;
		}
		.names .left{
			float: none;
			margin-left: 0%;
			margin:0px;
			padding:20px;
		}
		.names .right{
		 margin-right: 30%;
		float: right;
		}
}

.arrow-up {
	border: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background:  url("https://image.flaticon.com/icons/png/512/51/51544.png");
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 100000;
	visibility: hidden;
	opacity: 1;
}

.arrow-up.is-opacity {
	opacity: 1;
  visibility: visible;
}
.video{
  margin-left:5%;
    width:180px;
    height:180px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;

}
